Repository Volue-Public/volue-insight-timeseries, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, feature, internal, ignore-for-release

.github/labeler.yml:

documentation:
  - '**/*.md'

dependencies:
  - 'requirements.txt'

feature:
  - '**/*.py'

internal:
  - '.github/**'
  - 'releases/**'
    
# we don't want Release PR in the changelog
ignore-for-release:
  - 'volue_insight_timeseries/VERSION'

Update VERSION
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update VERSION (#181)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update data source header
  volue_insight_timeseries/auth.py
Labels: feature

fix tests
  unittest/test_session.py
Labels: feature

Fix warning issue
  volue_insight_timeseries/util.py
Labels: feature

switch to list comprehension
  volue_insight_timeseries/util.py
Labels: feature

fix: fix false positives on warning (#190)
  volue_insight_timeseries/util.py
Labels: feature

fix: fix false positives on warning (#190) (#191)
  volue_insight_timeseries/util.py
Labels: feature

Bumpt patch version
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Bumpt patch version (#193)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: merge runtime warning fix (#194)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

docs: fix error in install command
  docs/quickstart.rst
Labels: none

docs: fix error in install command
  docs/quickstart.rst
Labels: none

bump version file
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Fix parsing function in setup.py
  setup.py
Labels: feature

fix: fix publish package workflow and fix diverging master/dev (#200)
  setup.py
Labels: feature

Make the repo trunk-based
  .github/workflows/create_release.yml
  .github/workflows/publish_package.yml
  .github/workflows/unittests.yml
Labels: internal

Check for create release success and update the VERSION file
  .github/workflows/publish_package.yml
Labels: internal

Make codeql run on pushes/PRs to main
  .github/workflows/codeql.yml
Labels: internal

Make codeql run on pushes/PRs to main (#206)
  .github/workflows/codeql.yml
Labels: internal

Check for `create release` success and update the VERSION file (#205)
  .github/workflows/publish_package.yml
Labels: internal

Add fetch depth
  .github/workflows/publish_package.yml
Labels: internal

Add fetch depth (#207)
  .github/workflows/publish_package.yml
Labels: internal

Fix release workflow
  .github/workflows/create_release.yml
Labels: internal

Fix release workflow (#208)
  .github/workflows/create_release.yml
Labels: internal

chore: update data source header (#188)
  unittest/test_session.py
  volue_insight_timeseries/auth.py
Labels: feature

feat: add paired-list curve feature to vit
  docs/curves.rst
  examples/PairedList_curve_examples/pairedlist_curve_read.py
  volue_insight_timeseries/curves.py
  volue_insight_timeseries/session.py
  volue_insight_timeseries/util.py
Labels: feature

feat: add paired-list curve feature to vit (#220)
  docs/curves.rst
  examples/PairedList_curve_examples/pairedlist_curve_read.py
  volue_insight_timeseries/curves.py
  volue_insight_timeseries/session.py
  volue_insight_timeseries/util.py
Labels: feature

chore: Release candidate for Python 3.14
  .github/workflows/publish_package.yml
  .github/workflows/unittests.yml
  .readthedocs.yaml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/VERSION
Labels: documentation, dependencies, feature, internal, ignore-for-release

Relaxing requirements a bit
  requirements.txt
Labels: dependencies

chore: Release candidate for Python 3.14 (#221)
  .github/workflows/publish_package.yml
  .github/workflows/unittests.yml
  .readthedocs.yaml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/VERSION
Labels: documentation, dependencies, feature, internal, ignore-for-release

chore: Change version, remove unused import
  setup.py
  volue_insight_timeseries/VERSION
Labels: feature, ignore-for-release

chore: Change version, remove unused import (#223)
  setup.py
  volue_insight_timeseries/VERSION
Labels: feature, ignore-for-release

fix: Explicit install of setuptools
  .github/workflows/publish_package.yml
  volue_insight_timeseries/VERSION
Labels: internal, ignore-for-release

fix: Explicit install of setuptools (#224)
  .github/workflows/publish_package.yml
  volue_insight_timeseries/VERSION
Labels: internal, ignore-for-release

chore: add example on instances batch fetching
  examples/Instance_curve_examples/ins_custom_filter_multiple_instances.py
Labels: feature

Update links in examples
  docs/examples.rst
Labels: none

chore: add example on instances batch fetching (#226)
  docs/examples.rst
  examples/Instance_curve_examples/ins_custom_filter_multiple_instances.py
Labels: feature

chore: Update dependencies
  docs/requirements.txt
Labels: none

chore: Bump dependencies
  .github/workflows/codeql.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
  docs/requirements.txt
Labels: internal
