Repository Volue-Public/volue-insight-timeseries, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, feature, internal, ignore-for-release

Remove unused curve variable
  unittest/test_curves.py
Labels: feature

chore: Add deprecation warning for curves (#150)
  unittest/test_curves.py
  volue_insight_timeseries/session.py
Labels: feature

Bump minor version
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Bump minor version (#151)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Allow python 3.13
  setup.py
Labels: feature

Update README for python 3.13
  README.md
Labels: documentation

chore: remove dependency on future
  requirements.txt
  volue_insight_timeseries/curves.py
  volue_insight_timeseries/events.py
  volue_insight_timeseries/session.py
  volue_insight_timeseries/util.py
Labels: dependencies, feature

set version
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: remove dependency on future (#159)
  requirements.txt
  volue_insight_timeseries/VERSION
  volue_insight_timeseries/curves.py
  volue_insight_timeseries/events.py
  volue_insight_timeseries/session.py
  volue_insight_timeseries/util.py
Labels: dependencies, feature, ignore-for-release

chore: remove dependency on future (#159) (#160)
  requirements.txt
  volue_insight_timeseries/VERSION
  volue_insight_timeseries/curves.py
  volue_insight_timeseries/events.py
  volue_insight_timeseries/session.py
  volue_insight_timeseries/util.py
Labels: dependencies, feature, ignore-for-release

build: Adding support for Python 3.13
  .github/workflows/unittests.yml
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

dropping support for pandas < 2.0.0
  .github/workflows/unittests.yml
  requirements.txt
Labels: dependencies, internal

dropping support for pandas < 2.2.0
  .github/workflows/unittests.yml
  README.md
Labels: documentation, internal

dropping support for pandas < 2.3.2, since python 3.13 requires min pandas 2.2.3
  .github/workflows/unittests.yml
Labels: internal

Add support for pandas==1.5.2 by limiting python version
  .github/workflows/unittests.yml
  requirements.txt
Labels: dependencies, internal

Dropping support 3.9, adjusting tests, excluding failing test combinations
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  setup.py
Labels: documentation, feature, internal

Syntax fix
  .github/workflows/unittests.yml
Labels: internal

Exclude syntax fix
  .github/workflows/unittests.yml
Labels: internal

Libraries-versions syntax fix
  .github/workflows/unittests.yml
Labels: internal

Libraries-versions syntax fix with numpy
  .github/workflows/unittests.yml
Labels: internal

Limiting python version in requirements
  requirements.txt
Labels: dependencies

build: Adding Python 3.13, drop Python 3.9 (#161)
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

Revert "build: Adding Python 3.13, drop Python 3.9 (#161)"
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

Revert "build: Adding Python 3.13, drop Python 3.9 (#161)" (#166)
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

chore: Releasing RC to 1.4.1
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: Releasing RC to 1.4.1 (#167)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

build: Adding support for Python 3.13
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

build: Adding support for Python 3.13 (#169)
  .github/workflows/unittests.yml
  Dockerfile-release
  README.md
  docs/install.rst
  requirements.txt
  setup.py
  volue_insight_timeseries/events.py
Labels: documentation, dependencies, feature, internal

chore: Version bump to 2.0.0-rc1
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: Version bump to 2.0.0-rc1 (#170)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: Version bump 2.0.0rc2
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: Version bump 2.0.0rc2 (#172)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

fix: fix python required version
  requirements.txt
  setup.py
Labels: dependencies, feature

fix: fix python required version (#174)
  requirements.txt
  setup.py
Labels: dependencies, feature

chore: Bump VERSION to 2.0.0rc3
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: Bump VERSION to 2.0.0rc3 (#175)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore(build): wrap python-version in quotes
  .github/workflows/publish_package.yml
Labels: internal

chore(build): wrap python-version in quotes (#178)
  .github/workflows/publish_package.yml
Labels: internal

Update VERSION
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update VERSION (#180)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

.github/labeler.yml:

documentation:
  - '**/*.md'

dependencies:
  - 'requirements.txt'

feature:
  - '**/*.py'

internal:
  - '.github/**'
  - 'releases/**'
    
# we don't want Release PR in the changelog
ignore-for-release:
  - 'volue_insight_timeseries/VERSION'
