Repository Volue-Public/volue-insight-timeseries, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, feature, internal, ignore-for-release

.github/labeler.yml:

documentation:
  - '**/*.md'

dependencies:
  - 'requirements.txt'

feature:
  - '**/*.py'

internal:
  - '.github/**'
  - 'releases/**'
    
# we don't want Release PR in the changelog
ignore-for-release:
  - 'volue_insight_timeseries/VERSION'

fix: bump py packages to fix dependabot issues
  docs/requirements.txt
Labels: none

fix: bump py packages to fix dependabot issues (#115)
  docs/requirements.txt
Labels: none

Close worker thread if event listener gets deleted
  volue_insight_timeseries/events.py
Labels: feature

added polars support
  volue_insight_timeseries/util.py
Labels: feature

fix: Update package name to comply PEP625
  setup.py
Labels: feature

fix: Update package name to comply PEP625 (#119)
  setup.py
Labels: feature

build: Release 1.2.2
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

build: Release 1.2.2 (#121)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: add warning when to_pandas truncates data and format using ruff
  pyproject.toml
  unittest/test_util.py
  volue_insight_timeseries/util.py
Labels: feature

chore: remove pyproject.toml
  pyproject.toml
Labels: none

docs: add comment explaining to the warning
  volue_insight_timeseries/util.py
Labels: feature

chore: add warning when to_pandas truncates data (#125)
  unittest/test_util.py
  volue_insight_timeseries/util.py
Labels: feature

add test for H->h conversion
  unittest/test_util.py
Labels: feature

add implementation for H->h conversion
  volue_insight_timeseries/util.py
Labels: feature

fix indentation
  unittest/test_util.py
Labels: feature

bump VERSION patch number
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

fix: add pandas frequency conversion "H"->"h" (#127)
  unittest/test_util.py
  volue_insight_timeseries/VERSION
  volue_insight_timeseries/util.py
Labels: feature, ignore-for-release

chore(ci): Automated - adding full sha commit version on all github actions
  .github/workflows/add_labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
Labels: internal

Update unittests.yml
  .github/workflows/unittests.yml
Labels: internal

Update unittests.yml
  .github/workflows/unittests.yml
Labels: internal

chore(ci): Automated - adding full sha commit version on all github actions (#129)
  .github/workflows/add_labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
Labels: internal

:bug: Correct comment to match description
  docs/curves.rst
Labels: none

:bug: Correct comment to match description (#134)
  docs/curves.rst
Labels: none

docs: update docs link to repo on github
  docs/index.rst
Labels: none

docs: update docs link to repo on github (#139)
  docs/index.rst
Labels: none

Add the request source to the headers
  volue_insight_timeseries/auth.py
Labels: feature

Update test function to test for request source
  unittest/test_session.py
Labels: feature

Remove typo quotes
  unittest/test_session.py
Labels: feature

Reassign the headers variable agian to validate the correct values
  unittest/test_session.py
Labels: feature

Chore: Add the request source to the headers (#142)
  unittest/test_session.py
  volue_insight_timeseries/auth.py
Labels: feature

chore(docs): Update quickstart.rst
  docs/quickstart.rst
Labels: none

chore(docs): Update quickstart.rst (#144)
  docs/quickstart.rst
Labels: none

chore(docs): Update .readthedocs.yaml python version
  .readthedocs.yaml
Labels: none

chore(docs): Update .readthedocs.yaml python version (#145)
  .readthedocs.yaml
Labels: none

Bump minor version
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Bump minor version (#146)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

chore: add pip caching to speedup unit-test workflow runs
  .github/workflows/unittests.yml
Labels: internal

chore: add pip caching to speedup unit-test workflow runs (#148)
  .github/workflows/unittests.yml
Labels: internal

Add deprecation warning for curves
  volue_insight_timeseries/session.py
Labels: feature

Add tests for deprecation warning
  unittest/test_curves.py
Labels: feature
