Repository Volue-Public/volue-insight-timeseries, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, feature, internal, ignore-for-release

.github/labeler.yml:

documentation:
  - '**/*.md'

dependencies:
  - 'requirements.txt'

feature:
  - '**/*.py'

internal:
  - '.github/**'
  - 'releases/**'
    
# we don't want Release PR in the changelog
ignore-for-release:
  - 'volue_insight_timeseries/VERSION'

add pillow
  docs/requirements.txt
Labels: none

add sha to cache
  .github/workflows/unittests.yml
Labels: internal

chore: Bump dependencies (#228)
  .github/workflows/codeql.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
  docs/requirements.txt
Labels: internal

feat: change doc source to volue external doc host
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/_static/css/custom.css
  docs/conf.py
  docs/connect.rst
  docs/curves.rst
  docs/events.rst
  docs/examples.rst
  docs/img/con_de.png
  docs/img/pro_de_spv.png
  docs/img/pro_de_wnd.png
  docs/img/rdl_de.png
  docs/img/temp_de.png
  docs/img/v-logo.png
  docs/index.rst
  docs/install.rst
  docs/make.bat
  docs/modules.rst
  docs/quickstart.rst
  docs/requirements.txt
  examples/Instance_curve_examples/ins_latest_instance.py
  examples/Instance_curve_examples/ins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_latest_instance.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_tags.py
  examples/Tagged-Instance_curve_examples/tagins_simple_read.py
  examples/Timeseries_curve_examples/ts_aggregation.py
  examples/Timeseries_curve_examples/ts_aggregation_timezone.py
  examples/general_examples/gen_aggregation_pandas.py
Labels: documentation, feature

more conflicts
  .github/workflows/codeql.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
Labels: internal

rest2
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/_static/css/custom.css
  docs/conf.py
  docs/connect.rst
  docs/curves.rst
  docs/events.rst
  docs/examples.rst
  docs/img/con_de.png
  docs/img/pro_de_spv.png
  docs/img/pro_de_wnd.png
  docs/img/rdl_de.png
  docs/img/temp_de.png
  docs/img/v-logo.png
  docs/index.rst
  docs/install.rst
  docs/make.bat
  docs/modules.rst
  docs/quickstart.rst
  docs/requirements.txt
  examples/Instance_curve_examples/ins_latest_instance.py
  examples/Instance_curve_examples/ins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_latest_instance.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_tags.py
  examples/Tagged-Instance_curve_examples/tagins_simple_read.py
  examples/Timeseries_curve_examples/ts_aggregation.py
  examples/Timeseries_curve_examples/ts_aggregation_timezone.py
  examples/general_examples/gen_aggregation_pandas.py
Labels: documentation, feature

fix docs
  .github/workflows/codeql.yml
Labels: internal

feat: change doc source to Volue external documentation host (#236)
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/_static/css/custom.css
  docs/conf.py
  docs/connect.rst
  docs/curves.rst
  docs/events.rst
  docs/examples.rst
  docs/img/con_de.png
  docs/img/pro_de_spv.png
  docs/img/pro_de_wnd.png
  docs/img/rdl_de.png
  docs/img/temp_de.png
  docs/img/v-logo.png
  docs/index.rst
  docs/install.rst
  docs/make.bat
  docs/modules.rst
  docs/quickstart.rst
  docs/requirements.txt
  examples/Instance_curve_examples/ins_latest_instance.py
  examples/Instance_curve_examples/ins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_latest_instance.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_instances.py
  examples/Tagged-Instance_curve_examples/tagins_multiple_tags.py
  examples/Tagged-Instance_curve_examples/tagins_simple_read.py
  examples/Timeseries_curve_examples/ts_aggregation.py
  examples/Timeseries_curve_examples/ts_aggregation_timezone.py
  examples/general_examples/gen_aggregation_pandas.py
Labels: documentation, feature

fix: Update README.md
  README.md
Labels: documentation

fix: Update README.md (#237)
  README.md
Labels: documentation

feat: update documentation source
  README.md
Labels: documentation

how to edit documentation
  README.md
Labels: documentation

feat: update documentation source (#238)
  README.md
Labels: documentation

feat: add documentation links to pypi page
  setup.cfg
Labels: none

Update setup.cfg
  setup.cfg
Labels: none

feat: add documentation links to pypi page (#239)
  setup.cfg
Labels: none

fix: secure workflows agains hackclaw attack
  .github/workflows/add_labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
Labels: internal

sanitize input string
  .github/workflows/add_labels.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/publish_package.yml
  .github/workflows/stale.yml
Labels: internal

fix: secure workflows agains hackclaw attack (#240)
  .github/workflows/create_release.yml
  .github/workflows/stale.yml
  .github/workflows/unittests.yml
Labels: internal

Update VERSION
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update VERSION (#241)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update VERSION
  volue_insight_timeseries/VERSION
Labels: ignore-for-release

Update VERSION (#242)
  volue_insight_timeseries/VERSION
Labels: ignore-for-release
